html {
  height: 100%;
  width: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Open+Sans&family=Roboto:wght@300&display=swap");
.image-hover-container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
}
.image-hover-container .container {
  position: relative;
  height: 430px;
  width: 310px;
  margin: auto;
  display: -webkit-box;
}
.image-hover-container .container:hover > .bottom-right {
  top: 55%;
  left: 80%;
  box-shadow: 0px 37px 29px rgba(0, 0, 0, 0.3);
  width: 350px;
}
.image-hover-container .container:hover > .middle {
  height: 90%;
  left: 5%;
  top: 5%;
  width: 90%;
  box-shadow: 0px 23px 33px rgba(0, 0, 0, 0.34);
}
.image-hover-container .container:hover > .middle .overlay {
  opacity: 1;
  z-index: 1;
}
.image-hover-container .container:hover > .middle .overlay p:nth-child(1) {
  padding-top: 0;
}
.image-hover-container .container:hover > .top-left {
  left: -70px;
  top: -90px;
  width: 150px;
  box-shadow: 0px 37px 29px rgba(0, 0, 0, 0.3);
}
.image-hover-container .container:hover > .top-right {
  left: 250px;
  top: -90px;
  width: 260px;
  height: 280px;
  box-shadow: 0px 37px 29px rgba(0, 0, 0, 0.3);
}
.image-hover-container .container:hover > .bottom-left {
  left: -89%;
  top: 65%;
  width: 360px;
  box-shadow: 0px 37px 29px rgba(0, 0, 0, 0.3);
}
.image-hover-container .container .lancaster {
  background: url(images/city.gif) no-repeat;
}
.image-hover-container .container .lake-district {
  background: url(images/pond.gif) no-repeat;
}
.image-hover-container .container .bg-image {
  background-size: cover;
  background-attachment: fixed;
  background-position: 10% 10%;
}
.image-hover-container .container .middle {
  transition: 500ms all;
  transition-delay: 0.25s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.33, 0.97);
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  box-shadow: 0px 17px 23px rgba(0, 0, 0, 0.34);
}
.image-hover-container .container .middle .bg-image {
  height: 100%;
  width: 100%;
}
.image-hover-container .container .middle .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  background: rgba(67, 27, 12, 0.75);
  display: flex;
  flex-direction: column;
  transition: 300ms all;
  transition-delay: 0.37s;
  opacity: 0;
  text-decoration: none;
  z-index: -1;
}
.image-hover-container .container .middle .overlay p {
  position: relative;
  margin: auto;
  color: #fff;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  opacity: 0.8;
}
.image-hover-container .container .middle .overlay p:nth-child(1) {
  margin-bottom: 4px !important;
  padding-top: 30px;
  transition: all 400ms;
  transition-delay: 0.3s;
}
.image-hover-container .container .middle .overlay p:nth-child(2) {
  margin-top: 4px !important;
}
.image-hover-container .container .middle .overlay .mobile-link {
  display: none;
}
.image-hover-container .container .bottom-right {
  transition: 800ms all;
  transition-delay: 0.15s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.33, 0.97);
  position: absolute;
  left: 0%;
  top: 48%;
  width: 100%;
  box-shadow: 0px 37px 29px rgba(0, 0, 0, 0);
  z-index: 1;
}
.image-hover-container .container .bottom-right .bg-image {
  height: 220px;
  width: 100%;
}
.image-hover-container .container .bottom-left {
  transition: 800ms all;
  transition-delay: 0.17s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.33, 0.97);
  position: absolute;
  left: 0%;
  top: 48%;
  width: 100%;
  z-index: 1;
}
.image-hover-container .container .bottom-left .bg-image {
  height: 220px;
  width: 100%;
}
.image-hover-container .container .top-left {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.33, 0.97);
  transition: 600ms all;
  transition-delay: 0.19s;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 150px;
  z-index: 1;
}
.image-hover-container .container .top-left .bg-image {
  height: 220px;
  width: 100%;
}
.image-hover-container .container .top-right {
  transition: 500ms all;
  transition-delay: 0.08s;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 300px;
  height: 260px;
  z-index: 1;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.33, 0.97);
}
.image-hover-container .container .top-right .bg-image {
  float: right;
  height: 100%;
  width: 100%;
}

@media (max-width: 920px) {
  .image-hover-container {
    transform: scale(0.8) translateX(0px);
    overflow: hidden;
  }
  .image-hover-container .overlay p:nth-child(1) {
    margin-top: 125px;
  }
  .image-hover-container .overlay p:nth-child(2) {
    margin-bottom: 30px !important;
  }
  .image-hover-container .overlay .mobile-link {
    display: block !important;
    margin-top: 0px !important;
  }
  .image-hover-container .bottom-right, .image-hover-container .bottom-left, .image-hover-container .top-left, .image-hover-container .top-right {
    box-shadow: 0px 0px 0px !important;
  }
}
@media (max-width: 350px) {
  .bottom-right, .bottom-left, .top-left, .top-right {
    display: none !important;
  }
}
.loading-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  transition: 600ms all;
}
.loading-container #loading {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: rgba(67, 27, 12, 0.75);
  border-radius: 50%;
  -webkit-animation: boing 0.8s linear infinite;
          animation: boing 0.8s linear infinite;
  position: relative;
  top: calc(50% - 35px);
}
.loading-container #loading:before {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  -webkit-animation: boing-inner 0.8s linear infinite;
          animation: boing-inner 0.8s linear infinite;
}
@-webkit-keyframes boing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes boing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes boing-inner {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes boing-inner {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1);
  }
}

/*  navigation */
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
}

#header-nav {
  z-index: 1;
  position: fixed;
  top: 0;
  margin: 0;
  display: block;
  width: 99%;
  background: black;
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
#header-nav.hide-nav-bar {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}
a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}
nav[role=navigation] {
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}
nav[role=navigation].active {
  max-height: 15em;
}
nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.7em 0;
}
nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  font-size: 0.9em;
}
.menu-link {
  height: 30px;
  width: 33px;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  margin-top: 3px;
  background: #999;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}
.bar2 {
  margin-top: 13px;
}
.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.brand {
  float: left;
  margin-left: 1em;
  padding: 1em;
}
.brand h1 {
  margin: 0;
  font-size: 1.5em;
}
@media screen and (min-width: 48.25em) {
  a.menu-link {
    display: none;
  }
  .js nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    float: right;
  }
  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
  }
}
.container {
  max-width: 72em;
  margin: 0 auto;
}
section {
  margin-top: 4em;
  padding: 1em;
  color: #5c5c5c;
}
section hr {
  border-bottom: none;
  color: #f2f2f2;
}
.info {
  text-align: center;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bg-color:AntiqueWhite;
  --text-color:black;
  --scroll-pct:0;
}

body {
  margin: 0;
  overflow: hidden;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 1s, color 1s;
}

.h-track {
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  position: relative;
  overflow-y: hidden;
}
.h-track .h-content-container {
  position: relative;
  max-width: unset;
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: stretch;
  transition: transform 0.2s linear;
}
.h-track .h-content-container > * {
  display: grid;
  place-items: Center;
  min-width: 100vw;
  height: 100%;
}

.invisible-scrollbar {
  scrollbar-width: none;
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.progress-bar {
  margin: 10px auto;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 50%;
  height: 10px;
  border-radius: 5px;
  border: 1px solid var(--text-color);
  overflow: hidden;
}
.progress-bar::before {
  content: "";
  display: block;
  background-color: var(--text-color);
  height: 100%;
  width: var(--scroll-pct);
}