html {
  height: 100%;
  width: 100%;
}



html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}



* {
  box-sizing: border-box;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: none;
  user-select: none;
  -webkit-user-drag: none;
}

#main {
  display: flex;
}

#main .part {
  flex: 1;
}

#main .part .section {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#main .part .section img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: var(--x);
  pointer-events: none;
}

.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background: white;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor-f {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='47' height='47' viewBox='0 0 47 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M42.4202 42.4202C38.8403 46 33.3594 46 23.5 46C13.6406 46 8.15966 46 4.57983 42.4202C1 38.8403 1 33.3594 1 23.5C1 13.6406 1 8.15966 4.57983 4.57983C8.15966 1 13.6406 1 23.5 1C33.3594 1 38.8403 1 42.4202 4.57983C46 8.15966 46 13.6406 46 23.5C46 33.3594 46 38.8403 42.4202 42.4202Z' stroke='white'/%3E%3C/svg%3E%0A");
  background-size: cover;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0.5;
  z-index: 999;
}

.buttons {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
}

.buttons button {
  border: none;
  background-size: contain;
  background: url("data:image/svg+xml,%3Csvg width='10' height='29' viewBox='0 0 10 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0V27L1 17.4857' stroke='white' stroke-width='2' /%3E%3C/svg%3E%0A") no-repeat;
  background-position: center;
  width: 10px;
  height: 30px;
  display: block;
  margin: 20px 0;
  padding: 0 15px;
  transition-duration: 0.6s;
}

.buttons button.next {
  transform: scaleY(-1);
}

.buttons button.prev:active {
  transform: translateY(8px);
}

.buttons button.next:active {
  transform: scaleY(-1) translateY(8px);
}

h1 {
  font-family: Roboto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: white;
  text-align: center;
  font-size: 11.3em;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.content {
  width: 90%;
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  z-index: 99;
  font-size: 0.8em;
}

.content p {
  margin: 0.5em auto;
}

.content kbd {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  display: inline-block;
  border-radius: 3px;
  font-size: 0.9em;
  vertical-align: text-top;
}

.content a {
  color: rgba(227, 227, 227, 0.78);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.content a:hover {
  padding-bottom: 1px;
}

.loading-container {
  position: fixed;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  background: #fff;
  transition: 600ms all;
   z-index: 999;
}

.loading-container #loading {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  background: rgba(67, 27, 12, 0.75);
  border-radius: 50%;
  -webkit-animation: boing 0.8s linear infinite;
  animation: boing 0.8s linear infinite;
  position: relative;
  top: calc(50% - 35px);
}

.loading-container #loading:before {
  content: "";
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 30px);
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  -webkit-animation: boing-inner 0.8s linear infinite;
  animation: boing-inner 0.8s linear infinite;
}



@-webkit-keyframes boing {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes boing {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes boing-inner {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes boing-inner {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}


/* navigation */

#header-nav {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  background: black;
  -webkit-transition: -webkit-transform 0.7s 0.3s ease;
  -moz-transition: -moz-transform 0.7s 0.3s ease;
  -ms-transition: -ms-transform 0.7s 0.3s ease;
  transition: transform 0.7s 0.3s ease;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

#header-nav.hide-nav-bar {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-backface-visibility: hidden;
}

a.menu-link {
  float: right;
  display: block;
  padding: 1em;
}

nav[role=navigation] {
  clear: right;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.js nav[role=navigation] {
  overflow: hidden;
  max-height: 0;
}

nav[role=navigation].active {
  max-height: 15em;
}

nav[role=navigation] ul {
  margin: 0;
  padding: 0;
  float: left;
  padding: 0.7em 0;
}

nav[role=navigation] li a {
  display: block;
  padding: 0.8em;
  font-size: 0.9em;
}

.menu-link {
  height: 30px;
  width: 33px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  margin-top: 3px;
  background: #999;
  width: 33px;
  height: 4px;
  position: absolute;
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
}

.bar2 {
  margin-top: 13px;
}

.bar3 {
  margin-top: 23px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.brand {
  float: left;
  margin-left: 1em;
  padding: 1em;
}

.brand h1 {
  margin: 0;
  font-size: 1.5em;
}

@media screen and (min-width: 48.25em) {
  a.menu-link {
    display: none;
  }

  .js nav[role=navigation] {
    max-height: none;
  }

  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
    float: right;
  }

  nav[role=navigation] li {
    display: inline-block;
    margin: 0 0.25em;
  }

  nav[role=navigation] li a {
    border: 0;
  }
}

.container {
  max-width: 72em;
  margin: 0 auto;
}

section {
  margin-top: 4em;
  padding: 1em;
  color: #5c5c5c;
}

section hr {
  border-bottom: none;
  color: #f2f2f2;
}

.info {
  text-align: center;
}

.slide {
  margin: 0 auto;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.slide {
  width: 30rem;
  height: auto;
}

button.slide .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: linear-gradient(86deg, rgba(25,58,119,1) 32%, rgba(16,83,119,0.8435749299719888) 100%);
  border-radius: 1.625rem;
}

button.slide .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.slide .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.slide .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.slide .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #fff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.slide {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}